In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [64]:
df = pd.read_csv('./dados/base_calibracao.csv', sep='\,', header=None).apply(lambda x: x.str.replace(r"\"",""))
df.columns = df.iloc[0]
df = df.iloc[1: , :]

<ipython-input-64-bae2d3f2c3fa>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('./dados/base_calibracao.csv', sep='\,', header=None).apply(lambda x: x.str.replace(r"\"",""))

In [65]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
1,56,3.0,1.0,0.0,0.0,0.0,0.0,1.0,6.0,1.0,1,999,0,1.0,1.1,93.994,-36.4,4.857,5191.0,0
2,57,7.0,1.0,3.0,1.0,0.0,0.0,1.0,6.0,1.0,1,999,0,1.0,1.1,93.994,-36.4,4.857,5191.0,0
3,37,7.0,1.0,3.0,0.0,2.0,0.0,1.0,6.0,1.0,1,999,0,1.0,1.1,93.994,-36.4,4.857,5191.0,0
4,40,0.0,1.0,1.0,0.0,0.0,0.0,1.0,6.0,1.0,1,999,0,1.0,1.1,93.994,-36.4,4.857,5191.0,0
5,56,7.0,1.0,3.0,0.0,0.0,2.0,1.0,6.0,1.0,1,999,0,1.0,1.1,93.994,-36.4,4.857,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41184,73,5.0,1.0,5.0,0.0,2.0,0.0,0.0,7.0,0.0,1,999,0,1.0,-1.1,94.767,-50.8,1.028,4963.6,1
41185,46,1.0,1.0,5.0,0.0,0.0,0.0,0.0,7.0,0.0,1,999,0,1.0,-1.1,94.767,-50.8,1.028,4963.6,0
41186,56,5.0,1.0,6.0,0.0,2.0,0.0,0.0,7.0,0.0,2,999,0,1.0,-1.1,94.767,-50.8,1.028,4963.6,0
41187,44,9.0,1.0,5.0,0.0,0.0,0.0,0.0,7.0,0.0,1,999,0,1.0,-1.1,94.767,-50.8,1.028,4963.6,1
41188,74,5.0,1.0,5.0,0.0,2.0,0.0,0.0,7.0,0.0,3,999,1,0.0,-1.1,94.767,-50.8,1.028,4963.6,0

In [66]:
X = df.drop('y',axis=1)
y = df.y

# TODO: checar missings e, se necessário, fazer fillna

In [67]:
from sklearn.model_selection import train_test_split

X_tr, X_ts, y_tr, y_ts = train_test_split(X,y, test_size=.5, random_state=61658)

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject