In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("./dados/gaussian_nb.csv")

In [3]:
df

       age  y
0       56  0
1       57  0
2       37  0
3       40  0
4       56  0
...    ... ..
41183   73  1
41184   46  0
41185   56  0
41186   44  1
41187   74  0

[41188 rows x 2 columns]